/* MonthCalendar.module.css */
.noBackground {
    background: none !important;
    background-image: none !important; /* Explicitly remove background images */
    background-color: transparent !important; /* Ensure no background color */
}

/* styles/MonthCalendar.module.css */
.calendar {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #f9f9f9;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.yearSelector {
    width: 50%;
    padding: 8px 10px;
    font-size: 16px;
    border-radius: 8px;
    border: 2px solid #ccc;
    margin-bottom: 20px;
    cursor: pointer;
    outline: none;
}

.months {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 4 columns by default */
    gap: 10px;
}

/* Adjust for smaller screens */
@media (max-width: 768px) {
    .months {
        grid-template-columns: repeat(3, 1fr); /* 3 columns for tablets */
    }
}

@media (max-width: 480px) {
    .months {
        grid-template-columns: repeat(2, 1fr); /* 2 columns for mobiles */
    }
}


.month {
    padding: 15px;
    text-align: center;
    border: 1px solid #ccc;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
    border-radius: 8px;
}

.month:hover {
    background-color: #e0e0e0;
    transform: scale(1.05);
}

.selectedMonth {
    background-color: #007bff;
    color: white;
    border-color: #0056b3;
}


.disabledMonth {
    opacity: 0.5;
    color: #aaa; /* Adding faded color text for better visual cue */
    cursor: not-allowed;
    pointer-events: none;
}

.enabledMonth {
    opacity: 1;
    color: #000; /* Ensure enabled months have fully dark text */
    cursor: pointer;
}



.month:hover:not(.disabledMonth) {
    background-color: #e0e0e0;
    transform: scale(1.05);
}


.forms-iframe {
    align-items: center;
}

.downloadButton {
    background-color: #007BFF; /* Blue */
    color: white;
    padding: 12px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 20px auto; /* Adjusted for spacing around the button */
    cursor: pointer;
    border: none;
    border-radius: 5px;
}

@media (max-width: 480px) {
    .downloadButton {
        padding: 15px 20px; /* Slightly larger padding for better touch target */
    }
}

.iframeContainer {
    width: 90%;
    overflow: hidden;
    box-shadow: 0 0 8px rgba(0,0,0,0.1);
}

.pdfIframe {
    height: 100vh; /* Adjust the height as needed */
    border: none;
    overflow: hidden !important; /* Ensuring this rule takes precedence */
}
