.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #008cff;
  padding: 1rem;
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
  color: white;
}

.menuButton {
  display: none;
  font-size: 1.5rem;
  color: white;
  cursor: pointer;
}

.menu {
  display: flex;
  gap: 1rem;
}

@media (max-width: 768px) {
  .menu {
    display: none;
  }

  .menuButton {
    display: block;
  }
}
